@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,300&family=Merriweather:wght@700&display=swap');
.navbar-brand{
 font-size: 25px;
 font-weight: bolder;
 color: white;
 padding-left: 10px;
 padding-right: 10px;
 border: 3px;
  border-style: solid; 
 border-color:blue ;
 border-radius: 50px;
}
.navbar-brand:hover{
  color :blue;
}
.nav-link{
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 color: rgb(186, 189, 189);
 position: relative;
 text-decoration: none;
 letter-spacing: 0.5px;
padding: 0 10px;
}
 .nav-link:hover{
 text-decoration: underline solid blue;
 color: blue;
  width: 100%;
 font-size: 1.1rem;
} 
.container{
  max-width: 100%;
  
}
.navbar{
 overflow: hidden; 
  position: fixed; 
  min-width: 98%;
  justify-content: center;
  align-items: center;
}
.navbar-toggler{
  color: blue;
  width: 100%;
}
.navbar{
  border: 3px;
  border-style: solid; 
 border-color:white ;
 background-color:rgb(14, 13, 13);
}
#homee{ 
    width: 100%;
  background-image: url(image3.jpg) ;
 background-repeat: no-repeat; 
 /* background-attachment: fixed;   */
 background-size: cover; 
 
} 
.fieldset{
  width: 1000px;
  height: 500px;
  border: 3px;
  border-color: white;
  border-style: solid; 
  box-shadow: 2px 2px 13px white;
  background-image: url(fieldsettwo.jpg) ;
 background-repeat: no-repeat; 
 /* background-attachment: fixed;  */
 background-size: cover;
}

.home{
 float: left;
 margin-left: 20px;
 color: white;
 padding-top: 150px;
width: 45%;
font-family: 'Bricolage Grotesque', sans-serif;
} 
.hi{
 text-shadow:2px 2px 2px  blue;
}
.padding{
  padding-top: 20px;
  padding-bottom: 20px;
 background-color: black;
}
.padfield{
  padding-top: 25px;
  padding-bottom: 25px;
 
}
.paddingtwo{
  padding-top: 6px;
  padding-bottom: 1px;
  
}
.paddingthree{
  padding-top: 13px;
  padding-bottom: 8px;
}
 
.purple{
 color: rgb(35, 64, 160);
 font-weight: bold;
}
.box{
  float: right;
 margin-left: 20px;
 padding-top: 50px;
 padding-right: 50px;
}
.image{
  width: 370px;
  height: 370px;
  object-fit: cover;
  border-radius: 50%;
  border: solid blue;
  box-shadow: 0.2px 0.2px 33px   blue;
  border-width: 6px;
}
.blink{
 transition: 10sec;
}
#aboutone{
  background-image:url(images.jpg) ;
  background-repeat: no-repeat; 
 /* background-attachment: fixed;  */
 background-size: cover;
 border: 3px blue solid ;
 padding-left: 15px;
  padding-right: 12px;
}
.aboutme{
  margin-bottom: 10px;
  color: white;
}
 .about{
  border: 3px blue solid  ;
} 
.divider{
  width: 178px;
  height: 4px;
  background-color: blue;
  border-radius: 3px;
}
.dividertwo{
  width: 375px;
  height: 4px;
  background-color: blue;
  border-radius: 3px;
}
.dividerthree{
    width: 312px;
    height: 4px;
    background-color: blue;
    border-radius: 3px;
  }
.about .divider ~ p{
  font-size: 15px;
  letter-spacing: 0.5px;
  font-weight: 400;
  margin-top: 15px;
   color: white; 
}

.about .icon-list-col{
  display: flex;
  justify-content: center;
  margin-top: 0px;
  gap: 50px;
  color: white;
}
.about .icon-list-col .icon-list ul li{
list-style: none;
margin: 15px 0;
}

.skill{
  border: 3px blue solid  ;
  padding-left: 15px;
  padding-right: 12px;
  margin: auto;
  background-image:url(images.jpg) ;
  background-repeat: no-repeat; 
 background-size: cover;
  /* background-image: url();
  background-repeat: no-repeat; 
 background-attachment: fixed; 
 background-size: cover; */
}
.skillheading{
  font-family: 'Merriweather', serif; 
 color: white;
 align-items: normal;
}
 /* .skillheadings{
  font-family: 'Merriweather', serif; 
 color: white;
 align-items: normal;
 text-align: center;
}  */
.skillpara{
  font-size: 20px;
  color: white;
}
.skillparatwo{
  font-size: 20px;
  color: white;
}
.lines{
  margin: 20px;
  width: 85%;
}
.write{
  text-underline-offset: 0.5em;
  line-height: 2px;
  color: white;
 text-decoration:  2px underline blue;
 font-weight: bold;
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
}

 .icon{
  color: white;
  text-decoration: underline blue solid;
} 

#carouselExample{
  border: 3px blue solid  ;
  padding-left: 15px;
  padding-right: 12px;
  background-color: black;
  margin: auto;
}
#imgone{
  padding-left: 40%;
  padding-right: 40%;
}
#imgtwo{
  padding-left: 13%;
  padding-right: 15%;
}
#imgthree{
  padding-left: 25%;
  padding-right: 25%;
}
#imgfour{
  padding-left: 0%;
  padding-right: 25%;
}
.d-block{
height: 25%;
/* padding-left: 10%;
padding-right: 10%; */
} 
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: rgb(58, 58, 156);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: blue;
}
input:hover {
  border-color: blue;
}
#country:hover{
  border-color: blue;
}
#subject:hover{
  border-color: blue;
}
/* Add a background color and some padding around the form */
.container2{
  padding-left: 12%;
  margin: 6%;
   
  }
.contactinfo{
  display: flex;
  justify-content: center;
  align-items: center; 
  /* flex-direction: column; */
 line-height: 4px;
}

.container2 .contactinfo{
  width: 100%;
  /* display: flex; */
  /* flex-direction: column; */
}
.container2 .contactinfo .box{
  position: relative;
  padding: 20px ;
  /* display: flex; */
}
.contactform  {
 width: 80%;
 border: none;

}
.fa{
 font-size: 25px;
 color: white;
}
.fa-brands{
  font-size: 25px;
  color: white;
}
.fa-sharp{
  font-size: 25px;
  color: white;
}
form{
  height: 50%;
  width: 45%;
  margin: 110px;
  }
.contactform{
  margin: 0%;
  padding: 0%;
  font-family: 'poppins',sans-serif;
  box-sizing: border-box;
}
input:hover{
  border: 3px solid blue;
}
textarea:hover{
  border: 3px solid blue;
}
#contacts{
  border: 2px blue solid  ;
  color: white;
  padding-left: 15px;
  padding-right: 12px;
  /* background-color: black; */
  margin: auto;
  background-image:url(images.jpg) ;
  background-repeat: no-repeat; 
 background-size: cover;
}
.text{
  font-size: 22px;
 color: white;
}
span{
    margin: 3px;
    line-height: 50px;

}
@media (max-width:480px){
    .container{
  max-width: 100%;
    }

 .fieldset{
    width: 400px;
    height: 250px;
    border: 3px;
    border-color: white;
    border-style: solid; 
    box-shadow: 2px 2px 13px white;
    background-image: url(fieldsettwo.jpg) ;
    background-repeat: no-repeat; 
    /* background-attachment: fixed;  */
    background-size: cover;
    }
    .home{
    float: left;
    margin-left: 2px;
    color: white;
    padding-top: 50px;
    width: 45%;
    font-family: 'Bricolage Grotesque', sans-serif;
    } 
    .hi{
    text-shadow:2px 2px 2px  blue;
    font-size: 16px;
    }
   h3{
   font-size: 14px;
    }
    .box{
    float: right;
    margin-left: 12px;
    padding-top: 45px;
    padding-right: 25px;
    }
    .image{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: solid blue;
    box-shadow: 0.2px 0.2px 33px   blue;
    border-width: 6px;
    }
   .blink{
    transition: 10sec;
    }
    .navbar{
    overflow: hidden; 
     position: fixed; 
     min-width: 84%;
     justify-content: center;
     align-items: center;
    }
    #contacts{
    border: 2px blue solid  ;
    color: white;
    padding-left: 5px;
    padding-right: 0px;
    /* background-color: black; */
    margin: auto;
    background-image:url(images.jpg) ;
    background-repeat: no-repeat; 
    background-size: cover;
    }
    input[type=text], select, textarea {
    width: 70%; /* Full width */
    padding: 5px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 3px; /* Add a top margin */
    margin-bottom: 6px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
    }
    .contactinfo{
    display: flex;
    justify-content: center;
    align-items: center; 
    /* flex-direction: column; */
    line-height: 4px;
    }
    .container2 .contactinfo{
    width: 100%;
    /* display: flex; */
    /* flex-direction: column; */
    }
    form{
    height: 50%;
    width: 80%;
    margin: 100px;
    }
    .contactform  {
    width: 100%;
    border: none;
    }
    .fa{
    font-size: 12px;
    color: white;
    }
    .fa-brands{
    font-size: 12px;
    color: white;
    }
    .fa-sharp{
    font-size: 12px;
    color: white;
    }
    .divider{
    width: 125px;
    height: 4px;
    background-color: blue;
    border-radius: 3px;
    }
    .dividertwo{
    width: 280px;
    height: 4px;
    background-color: blue;
    border-radius: 3px;
    }
    .dividerthree{
    width: 158px;
    height: 4px;
    background-color: blue;
    border-radius: 3px;
    }
    #imgone{
    height: 90%;
    width: 700px;
    padding-left: 40%;
    padding-right: 40%;
    }
    #imgtwo{
    height: 80%;
    width: 500px;
    padding-left: 13%;
    padding-right: 25%;
    }
    #imgthree{
    height: 80%;
    width: 500px;
    padding-left: 20%;
    padding-right: 25%;
    }
    #imgfour{
    height: 80%;
    width: 700px;
    }
}
